{#{% extends 'base.html.twig' %}
{% extends 'homePage.html.twig' %}#}






 {% for question in questions %}

       <div class="BulleQuestion">


            <div class="input-field">

                <div class="row">
                    <div id="questavatar" class="col s2">
                        <img class="responsive-img" src="{{ asset('img/deer2fw-1.png') }}" alt="" />
                        <span> {{question.user.username}}</span>
                    </div>
                    <div id="coin" class="col s1">
                        <img id="coinbulle"{# class="responsive-img" #} src="{{ asset('img/geosvg_1-1.svg') }}" alt="" />
                    </div>
                    <div id="littlebubble" class="col s9">
                        <div class="row">
                            <div class="titre  col s9 offset-s1">
                                <span>{{ question.titre }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="textField col s9 offset-s1">
                                {{ question.contenu|nl2br }}
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div id="infoquest" class="row">
                    <div class="zone col s3"></div>
                    <div class="zone col s3">
                     le {{ question.dateQuestion|date('d/m/Y') }} à {{ question.dateQuestion|date('H:i:s') }}
                     </div>

                    <div id="showbtn" class="zone col s3">
                        <a href="{{ path('question_show', { 'id': question.id }) }} " class="waves-effect waves-light btn" >{{ "Consulter" }}   </a>
                    </div>
                    <div class="zone col  s3"></div>


                    <div class="zone col s3">
                     Nombre de consultation(s) : {{ question.nbConsultation }}
                    </div>
                </div>
                



            </div>

   <!--    
            {{ question.contenu }}
            {{ question.followers }}
    -->
        </div>
    {% endfor %}

