{#{% extends 'base.html.twig' %}
{% extends 'homePage.html.twig' %}#}

<style>

    body{
        margin-left: 100px;
    }

    .titre{
        /*background-color: blue;*/
        border: solid 1px;
        border-radius: 10px;

        width: 80%;
        font-size: 20px;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
    }

    .textField{
        height: 100px;
        border: solid 1px;
        border-radius: 10px;
        word-wrap: break-word;
    }

    .zoneA{

       display:inline;
       text-align: left;
    }

    .zoneB{
       margin-right: 20px;
       display:inline;
       text-align: right;
    }

    .zone{
       width: 33%;
       display:inline;
    }




    .legende{
        color: red;
        font-size: 15px;
        margin-left: 50px;
    }

    .BulleQuestion{
        background-color: #80CBC4;
        border-radius: 20px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .BtnAction{
        width: 80%;
        margin-left: auto;
        margin-right: auto;    
    }


</style>

    <h1>Questions list</h1>



 {% for question in questions %}

       <div class="BulleQuestion">


            <div class="input-field col s6">
                <div class="titre">
                    <span>Question : </span>{{ question.titre }}
                </div>

                <br>

                <div class="textField">
                    {{ question.contenu }}
                </div>

                <br>

                <div class="row">
                    <div class="zone col s4">
                     Création le {{ question.dateQuestion|date('d/m/Y') }} à {{ question.dateQuestion|date('H:i:s') }}
                     </div>

                    <div class="zone col s4">
                        <a href="{{ path('question_show', { 'id': question.id }) }} " class="waves-effect waves-light btn" >{{ "Developper" }}   </a>
                    </div>

                    <div class="zone col s4">
                     Nombre de consultation(s) : {{ question.nbConsultation }}
                    </div>
                </div>
                



            </div>

   <!--    
            {{ question.contenu }}
            {{ question.followers }}
    -->
        </div>
    {% endfor %}

