
{% extends '::homeBase.html.twig' %}


{% block body %}


    <!--<h1>Question creation</h1>-->


    {{ form_start(form) }}     

        <h2>Posez votre question</h2>

        <!--{ form_errors(form.titre) }} -->
        <div id="questcontent">

            <div class="input-field col s6 textform">
                    {{ form_widget(form.titre) }}
                    {{ form_label(form.titre) }}
            </div>

            <div id="questarea" class="input-field col s6 textform">
                    {{ form_widget(form.contenu) }}
                    {{ form_label(form.contenu) }}
            </div>
        </div>
         
        <div id="btnquest">
            <input class = "btn waves-effect waves-light" type="submit" value="Creer" />
        </div>

    {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('question_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back to the list</a>
        </li>
    </ul>
{% endblock %}
