{#{% extends 'base.html.twig' %}#}
{% extends 'homeBase.html.twig' %}

{% block body %}

            <div class="BulleQuestion">


                 <div class="input-field">

                     <div class="row">
                         <div id="questavatar" class="col s2">
                             <img class="responsive-img" src="{{ question.user.urlAvatar }}" alt="" />
                             <span> {{question.user.username}}</span>
                         </div>
                         <div id="coin" class="col s1">
                             <img id="coinbulle"{# class="responsive-img" #} src="{{ asset('img/geosvg_1-1.svg') }}" alt="" />
                         </div>
                         <div id="littlebubble" class="col s9">
                             <div class="row">
                                 <div class="titre  col s9 offset-s1">
                                     <span>{{ question.titre }}</span>
                                 </div>
                             </div>

                             <div class="row">
                                 <div class="textField col s9 offset-s1">
                                     {{ question.contenu|nl2br }}
                                 </div>
                             </div>
                         </div>
                     </div>
                
                     <br>

                     <div id="infoquest" class="row">
                         <div class="zone col s3"></div>
                         <div class="zone col s3">
                          le {{ question.dateQuestion|date('d/m/Y') }} à {{ question.dateQuestion|date('H:i:s') }}
                          </div>
                          <div class="zone col s3"></div>
                         <div class="zone col s3">
                          Nombre de consultation(s) : {{ question.nbConsultation }}
                         </div>
                     </div>

                    {% for reponse in question.reponses %}

                        {{ reponse.text }}

                    {% endfor %}
                     <div id="bottomquest" class="row">

                         <div id="backtoquest" class="zone col s3 ">
                             <a href="{{ path('wcs_wild_exchange_homepage') }} " class="waves-effect waves-light btn" >{{ "Retour aux questions" }}   </a>
                         </div>
                          <div class="zone col s6"></div>
                          {% if app.user %}
                         <div id="answerbtn" class="zone col s3">
                            <a href="{{ path('reponse_new', { 'id_question': question.id }) }} " class="waves-effect waves-light btn" >{{ "Repondre" }}   </a>
                        </div>
                    {% else %}

                         <div id="answerbtn" class="zone col s3">
                            <a href="{{ path('fos_user_security_login') }} " class="waves-effect waves-light btn" >{{ "Se connecter" }}   </a>
                        </div>
                    {% endif %}
                     </div>
                 </div>
             </div>


{% endblock %}
