<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta charset="UTF-8">
        <title>WildExchange</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        
        <nav id = "nav1">
            <div class="nav-wrapper">
                <a href="{{ path('wcs_wild_exchange_homepage') }}" class="brand-logo">
                    <img id="logo" src="{{ asset('img/logo_orange_pastille.png') }}" alt="">
                </a>
                <p id='title'>Wild Exchange</p>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li id="co">
                          <a class="waves-effect waves-light btn" href="{{ path('fos_user_profile_show') }}">
                            {{app.user.username}}
                          </a>
                        </li>
                        <li id="id">
                          <a class="waves-effect waves-light btn" href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                          </a>    
                            {#<a href="{{ path('fos_user_security_register') }}">Inscription</a>#}
                        </li>
                    </ul>

                {% else %}

                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li id="co">
                     {# <a class="waves-effect waves-light btn" href="#modal1">Se connecter</a> #}
                        <a class="waves-effect waves-light btn" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    <li id="id">s
                        <a class="waves-effect waves-light btn" href="{{ path('fos_user_registration_register') }}" {# href="#modal2" #}>Inscription</a>    
                        {#<a href="{{ path('fos_user_security_register') }}">Inscription</a>#}
                    </li>
                </ul>

                {% endif %}

            </div>
        </nav>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
