{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

 <div class="input-field col s6">
    {{ form_widget(form.email) }}     
    {{ form_label(form.email) }}     
 </div>

 <div class="input-field col s6">
    {{ form_widget(form.username) }}     
    {{ form_label(form.username) }}     
 </div>

 <div class="input-field col s6">
    {{ form_widget(form.plainPassword.first) }}     
    {{ form_label(form.plainPassword.first) }}     
 </div>

 <div class="input-field col s6">
    {{ form_widget(form.plainPassword.second) }}     
    {{ form_label(form.plainPassword.second) }}     
 </div>
<div id ="btnregister">
    <input class = "btn waves-effect waves-light" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}

 