
{% block body %}

<div class="container">

    <form  class="col s8 offset-s2 talk-bubble tri-right round btm-left talktext"  method="POST" id='profilebubble'>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


 <div class="input-field col s9 offset-s1">
    {{ form_widget(form.email) }}     
    {{ form_label(form.email) }}     
 </div>

 <div class="input-field col s9 offset-s1">
    {{ form_widget(form.username) }}     
    {{ form_label(form.username) }}     
 </div>

 <div class="input-field col s9 offset-s1">
     <i class="material-icons left">lock</i>

     {{ form_widget(form.plainPassword.first) }}
    {{ form_label(form.plainPassword.first) }}     
 </div>

 <div class="input-field col s9 offset-s1">
     <i class="material-icons" left>lock</i>

     {{ form_widget(form.plainPassword.second) }}
    {{ form_label(form.plainPassword.second) }}
 </div>


        <div class="row ">
            <button class="btn waves-effect waves-light  col s6 offset-s3 wildbtn" type="submit"  name="action"  value="{{ 'registration.submit'|trans }}" onclick="window.location.href='/'">
                Enregistrer
                <i class="material-icons right">input</i>
            </button>
        </div>
        {{ form_end(form) }}

    </form>

</div>

{% endblock %}