{% extends "@FOSUser/layout.html.twig" %}


{% trans_default_domain 'FOSUserBundle' %}

{% block body %}


    <div class="container">

        <form  class="col s8 offset-s2 talk-bubble tri-right round btm-left talktext"  method="POST" id='profilebubble'>



            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}


            <div class="row rowShow buttonrow">
                <a id="editrouting" href="{{ path('wcs_wild_exchange_user_edit')}}" >
                    <button class="btn waves-effect waves-light wildbtn col s6 offset-s3"name="action"
                        type="submit" value="{{ 'change_password.submit'|trans }}" onclick="window.location.href='/user/edit'">Modifier                                        <i class="material-icons right">lock</i>
                        </i>
                    </button>
                </a>

                {{ form_end(form) }}


            </div>

        </form>
    </div>

{% endblock %}