{% extends 'base.html.twig' %}

{% block body %}
    <h1>Question creation</h1>


    <nav id = "nav1">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">
            <!--<img id="logo" src="RBM-WildExchange/web/img/logo_orange_pastille.png" alt="">-->
            <img id="logo" src="img/logo_orange_pastille.png" alt="">
        </a>
        <p id='title'>Wild Exchange</p>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li id="co">
                <a class="waves-effect waves-light btn" href="#modal1" href="badges.html">Se connecter</a>
            </li>
            <li id="id">
                <a class="waves-effect waves-light btn" href="#modal2" href="badges.html">S'inscrire</a>
            </li>
        </ul>
    </div>
</nav>

<img id ="banniere" src="img/infographie_big.jpg" alt="">

         {{ form_start(form) }}     
 
<!--             {{ form_errors(form.titre) }} -->


            {{ form_label(form.titre) }}
            {{ form_widget(form.titre) }}
            <br>
            {{ form_label(form.contenu) }}
            {{ form_widget(form.contenu) }}


           <input type="submit" value="Create" />

         {{ form_end(form) }}
    <ul>
        <li>
            <a href="{{ path('question_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
